.black-b-t-s {
  width: 100%;
  background-color: #060606;
  display: flex;
  justify-content: center;
}
.title-b-t-s {
  font-family: Jost-Bold;
  font-size: 50px;
  line-height: 72.25px;
  text-align: left;
  color: white;
  padding: 48px 0 137px;
}

@media (max-width: 1024px) {
  .title-b-t-s {
    font-size: 40px;
    line-height: 57.8px;
  }
}
@media (max-width: 768px) {
  .title-b-t-s {
    font-size: 30px;
    line-height: 43.35px;
  }
}