.sec-last {
  width: 100%;
  background-color: #f5f5f5;
  padding: 100px 0 0;
}
.sec-last-container {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.sec-last-desc {
  font-family: Jost-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  padding: 25px 0 0;
}
.benefits-container-sl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 0;
  /* max-width: 951px;
    min-width: 200px;
    width: 100%; */
  /* margin: auto; */
  position: relative;
  padding: 59px 0;
  margin-left: 42px;
}

.benefit-sl {
  display: flex;
  /* align-items: center; */
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc; /* Line below each row */
  flex-direction: column;
  position: relative;
}
.benefits-container-sl::before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -3%;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Color of the vertical line */
}

.b-p-60 {
  padding-left: 60px;
}
.b-p-42 {
  padding-left: 60px;
}
.benefit-sl:last-child {
  /* border-bottom: none; Removes line from the last row */
}
/* Apply 60px left padding to the left column */
.benefit-sl:nth-child(odd) {
  padding-left: 60px;
  /* max-width: 387px; */
}

/* Apply 42px left padding to the right column */
.benefit-sl:nth-child(even) {
  padding-left: 42px;
  /* max-width: 387px; */
}

.benefit-number-sl {
  font-family: Jost-Medium;
  font-size: 32px;
  font-weight: 500;
  line-height: 46.24px;
  text-align: left;
  color: #060606;
}

.benefit-text-sl {
  font-family: Jost-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  white-space: break-spaces;
  /* width: 387px; */
}
.flex-brand-posi {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.b-p-img {
  max-width: 339px;
  min-width: 200px;
  width: 100%;
}
@media (max-width: 1024px) {
  .flex-brand-posi {
    flex-direction: column;
    align-items: flex-start;
  }
  .benefits-container-sl {
    margin-left: unset;
  }
  .benefits-container-sl::before {
    display: none;
  }
  .benefit-sl:nth-child(odd) {
    padding-left: unset;
  }
  .benefit-text-sl {
    width: unset;
  }
  .sec-last-container {
    padding: 0 25px;
  }
  .b-p-img{
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .sec-last-container {
    padding: 0 10px;
  }
  .sec-last {
    padding: 60px 0 0;
  }
  .sec-last-desc {
    font-size: 16px;
    line-height: 23.12px;
    padding: 20px 0 0;
  }
  .flex-brand-posi {
    padding-top: 40px;
  }
  .benefits-container-sl {
    border-top: 1px solid #00000080;
    border-bottom: 1px solid #00000080;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 0 20px;
    width: 100%;
    gap: 15px;
  }
  .b-p-img {
    padding-bottom: 20px;
    margin: 0 auto;
    max-width: unset;
    min-width: unset;
    width: 242px;
    height: 326px;
  }
  .benefit-sl {
    border-bottom: unset;
    padding-bottom: unset;
  }
  .benefit-sl:nth-child(even) {
    padding-left: unset;
  }
  .benefit-number-sl{
    font-size: 25px;
    line-height: 36.13px;
  }
  .benefit-text-sl{
    font-size: 16px;
    line-height: 23.12px;
  }
}
