.lets-title {
  width: 100%;
  background-color: #f5f5f5;
  padding: 100px 0;
}
.lets-title-container {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.lets-dev-title {
  font-family: Jost-Bold;
  font-size: 50px;
  font-weight: 700;
  line-height: 72.25px;
  text-align: left;
}
.let-desc {
  font-family: Jost-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  padding: 25px 0 10px;
}
.let-des {
  font-family: Jost-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 50px;
}
