.your-growth {
  width: 100%;
  background-color: #f5f5f5;
}
.your-growth-container {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 30px;
}
.flourish-means {
  font-family: Jost-SemiBold;
  font-size: 25px;
  line-height: 36.13px;
  text-align: left;
}
.growth-boxs {
  display: flex;
  align-items: center;
  gap: 15px;
}
.growth-box {
  padding-top: 30px;
  max-width: 430px;
  min-width: 100px;
  width: 100%;
}
.title-txt-growth {
  font-family: Jost-Medium;
  font-size: 22px;
  font-weight: 500;
  line-height: 31.79px;
  text-align: left;
  padding: 14px 0;
}
.desc-txt-growth {
  font-family: Jost-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  color: rgba(6, 6, 6, 0.5);
}
.hr-width {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin: 25px 0 0;
}

@media (max-width: 1024px) {
  .your-growth-container {
    padding: 80px 25px 100px;
  }
  .growth-boxs {
    flex-direction: column;
    gap: unset;
  }
  .growth-box {
    padding-top: 25px;
    max-width: unset;
  }
}
@media (max-width: 768px) {
  .your-growth-container {
    padding: 60px 10px 60px;
  }
  .flourish-means {
    padding-bottom: 5px;
    font-size: 21px;
    line-height: 30.35px;
  }
  .title-txt-growth {
    font-size: 17px;
    line-height: 24.57px;
  }
  .desc-txt-growth {
    font-size: 16px;
    line-height: 23.12px;
   
}
}
