.body-preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 100%;
}
.words {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; 
  position: absolute;
  animation: words-disappear 3s forwards;
  animation-delay: 1s;
  background-color: black;
  z-index: 90;
}

.word {
  font-family: Jost-Medium;
  font-size: 40px;
  font-weight: 500;
  line-height: 57.8px;
  color: white;
  opacity: 0;
  animation: word-reveal 1s forwards;
  position: relative;
  padding-right:20px; 
}

.word:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -10px; 
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 50px; 
  background-color: #ff9800; 
}

.word:nth-child(1) {
  animation-delay: 0s;
}
.word:nth-child(2) {
  animation-delay: 1s;
}
.word:nth-child(3) {
  animation-delay: 2s;
}

.box {
  width: 410px;
  height: 65px;
  background-color: #ff9800;
  position: absolute;
  transform: scaleX(0);
  opacity: 1;
  animation: box-grow-shrink-center 2s forwards;
  animation-delay: 4s;
  z-index: 10;
}

@keyframes box-grow-shrink-center {
  0% {
    transform-origin: left;
    transform: scaleX(0);
    opacity: 1;
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
    opacity: 1;
  }
  51% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;

    transform: scaleX(0);
    opacity: 0;
  }
}

.team-text {
  font-family: Jost-SemiBold;
  font-size: 40px;
  font-weight: 600;
  line-height: 57.8px;
  text-align: center;
  color: white;
  opacity: 0;
  position: absolute;
  animation: final-text 2s forwards;
  animation-delay: 5s;
  width: 285px;
  z-index: 1;
}
.org-text-f{
  color: #ff9800;
}

@keyframes word-reveal {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes words-disappear {
  0%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes final-text {
  0% {
    opacity: 0;
    /* transform: scale(0.8); */
  }
  80% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}


@media screen and (max-width: 1024px) {
  .body-preloader {
    display: none !important; 
  }
}