.contact-us {
  width: 100%;
  background-color: #f5f5f5;
  padding: 100px 0;
}
.contact-us-container {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.something {
  font-family: Jost-Bold;
  font-size: 50px;
  font-weight: 700;
  line-height: 72.25px;
  text-align: left;
  color: #060606;
}
.enter-your {
  font-family: Jost-Medium;
  font-size: 22px;
  font-weight: 500;
  line-height: 31.79px;
  text-align: left;
  padding: 20px 0 30px;
  color: #06060680;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* padding-bottom: 50px; */
}
.ybtn{
  padding-top: 35px;
}

.input,
.textarea {
  width: 100%;
  padding: 12px;
  border: unset;
  box-shadow: 0px 0px 4px 0px #0000000d;
  border-radius: 8px;
  font-family: Jost-Regular;
  font-size: 20px;
  line-height: 28.9px;
  text-align: left;
  background-color: white;
  outline: none;
  height: 60px;
}

.textarea {
  height: 120px;
  resize: none;
}

.half-width-container {
  display: flex;
  gap: 15px;
}

.half-width-container .input {
  flex: 1;
}

.full-width {
  width: 100%;
}

@media (max-width: 1024px) {
  .something {
    font-size: 40px;
    line-height: 57.8px;
  }
  .contact-us {
    padding: 60px 0;
  }
  .contact-us-container {
    padding: 0 25px;
  }
}


@media (max-width: 768px) {
  .something {
    font-size: 25px;
    line-height: 36.13px;
  }
  .contact-us {
    padding: 60px 0;
  }
  .contact-us-container {
    padding: 0 10px;
  }
  .enter-your {
    font-size: 17px;
    line-height: 24.57px;
  }
  .half-width-container{
    flex-direction: column;
  }
}
