.how-we-deliver {
  width: 100%;
  background-color: #f5f5f5;
  padding: 100px 0;
}

.how-we-deliver-container {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  text-align: left;
}

.title-h-w-d {
  font-family: Jost-Bold;
  font-size: 50px;
  line-height: 72.25px;
}

.b-des-h-w-d {
  font-family: Jost-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  color: #00000080;
  padding: 25px 0 50px;
}

.steps-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 44px;
}
.step-card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;
  gap: 25px;
}
.m-b-l.left {
  flex-direction: row;
  min-width: 200px;
  width: 100%;
  padding-bottom: 30px;
  padding-right: 22px;
}
.m-b-l.right {
  flex-direction: row-reverse;
  min-width: 200px;
  width: 100%;
  padding-bottom: 30px;
  padding-left: 22px;
}
.step-image{
  width: 116px;
  height: 122px;
}
.step-content {
  flex: 1;
}

.step-number {
  font-family: Jost-Medium;
  font-size: 22px;
  font-weight: 500;
  line-height: 31.79px;
  text-align: left;
  color:  #060606;
}

.step-title {
  font-family: Jost-Medium;
  font-size: 22px;
  font-weight: 500;
  line-height: 31.79px;
  text-align: left;
  padding: 5px 0 10px;
}

.step-description {
  font-family: Jost-Regular;
  font-size: 20px;
  line-height: 28.9px;
  text-align: left;
  color: #00000080;
}
.steps-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: unset;
  position: relative;
}

.m-b-l {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom: 0.5px solid black;
}
.m-b-l-bottom {
  display: flex;
  align-items: center;
  gap: 25px;
}
.m-b-l-bottom.left {
  flex-direction: row;
  min-width: 200px;
  width: 100%;
  padding-right: 22px;
}
.m-b-l-bottom.right {
  flex-direction: row-reverse;
  min-width: 200px;
  width: 100%;
  padding-left: 22px;
}
.steps-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: black;
  z-index: 0;
}

.step-card {
  z-index: 1;
}

.hr-line-1 {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 100%;
  background-color: black;
  z-index: 0;
}

@media(max-width:1024px)
{
  .steps-container{
    grid-template-columns:repeat(1,1fr)
  }
  .steps-container::before{
    display: none;
  }
  .how-we-deliver-container{
    padding: 0 25px;
  }
  .m-b-l.right{
    flex-direction: unset;
    padding-left: unset;
  }
  .m-b-l-bottom.right{
    flex-direction: unset;
    border-bottom: 0.5px solid black; 
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: unset;

  }
  .m-b-l-bottom.left {
    border-bottom: 0.5px solid black;
    padding-bottom: 30px ;
  }
  .m-b-l{
    margin-bottom: 25px;
  }
  .m-b-l.left{
    padding-right: unset;
  }
  .title-h-w-d {
    font-size: 40px;
    line-height: 57.8px;
}
.how-we-deliver{
  padding: 80px 0px;
}
}

@media(max-width:768px){
  .title-h-w-d {
    font-size: 25px;
    line-height: 36.13px;
}
.b-des-h-w-d{
  font-size: 16px;
  line-height: 23.12px;
  padding: 15px 0 40px;
}
.step-title{
  font-size: 17px;
  line-height: 24.57px;
}
.step-description{
  font-size: 16px;
  line-height: 23.12px;
}
.m-b-l.left {
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 15px;

}
.m-b-l.right{
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 15px;

}
.m-b-l-bottom.left{
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 15px;
  padding-right: unset;
}
.m-b-l-bottom.right{
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 15px;
  padding-top: 15px;
}
.step-number{
  font-size: 17px;
  line-height: 24.57px;
}
.m-b-l {
  margin-bottom: 15px;
  gap: 10px;
}
.m-b-l-bottom{
  gap: 10px;
}
.how-we-deliver-container {
  padding: 0 10px;
}
.how-we-deliver{
  padding: 60px 0;
}
}