.why-imp {
  width: 100%;
  background-color: #060606;
  padding: 100px 0;
}
.why-imp-container {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.why-it-title {
  font-family: Jost-Bold;
  font-size: 50px;
  font-weight: 700;
  line-height: 72.25px;
  text-align: left;
  color: white;
}
.why-p-desc {
  font-family: Jost-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  padding: 25px 0 50px;
}
.img-div-imp {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* justify-content: center; */
}

.vertical-line {
  width: 1px;
  height: 570px;
  background-color: rgba(252, 252, 252, 0.5);
  position: relative;
  margin: 0 30px;
}
.imp-img-bg-w {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: unset;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 90px;
  left: 80px;
}
.imp-img-bg-w-res {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: unset;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.horizontal-line-why-imp {
  width: 78px;
  height: 1px;
  background-color: rgba(252, 252, 252, 0.5);
  position: absolute;
  right: -78px;
}

.horizontal-line-why-imp:nth-child(1) {
  top: 115px;
}

.horizontal-line-why-imp:nth-child(2) {
  top: 229px;
}

.horizontal-line-why-imp:nth-child(3) {
  top: 343px;
}

.horizontal-line-why-imp:nth-child(4) {
  top: 456px;
}

.why-imp-txt-dsc {
  font-family: Jost-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  color: white;
  position: relative;
  left: 120px;
  max-width: 1300px;
  min-width: 200px;
  width: 80%;
  /* padding-right: 30px; */
}
.flex-why-des-txt {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  flex-direction: column;
}
.img-r-imp {
  padding-right: 51px;
}
.vertical-line-why-imp {
  width: 1px;
  height: 570px;
  background-color: rgba(252, 252, 252, 0.5);
  position: relative;
  margin: 0 30px;
}
.flex-res-imp-why {
  display: flex;
  align-items: center;
  gap: 25px;
}

.vertical-line-why-imp {
  display: block;
}
.imp-img-bg-w-res {
  display: none;
}
@media (max-width: 1024px) {
  .why-imp-container {
    padding: unset;
  }
  .why-it-title {
    font-size: 40px;
    line-height: 57.8px;
  }
  .img-div-imp {
    flex-direction: column;
  }
  .why-imp-txt-dsc {
    position: unset;
  }
  .horizontal-line-why-imp {
    position: unset;
    display: none;
  }
  .imp-img-bg-w {
    position: unset;
  }
  .vertical-line-why-imp {
    display: none;
  }
  .flex-why-des-txt {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    /* padding-top: 30px; */
    padding: 30px 25px 0;
    gap: 35px;
  }
  .img-r-imp {
    padding: 0 25px;
    padding-right: unset;
  }
  .why-it-title {
    padding: 0 25px;
  }
  .why-p-desc {
    padding: 25px 25px 50px;
  }
  .why-imp {
    padding: 80px 0;
  }
  .imp-img-bg-w-res {
    display: flex;
  }
}

@media (max-width: 768px) {
  .why-it-title {
    padding: 0 10px;
    font-size: 25px;
    line-height: 36.13px;
  }
  .why-p-desc {
    padding: 15px 10px 40px;
    font-size: 16px;
    line-height: 23.12px;
  }
  .img-div-imp {
    align-items: flex-start;
  }
  .why-imp-txt-dsc{
    font-size: 16px;
    line-height: 23.12px;
  }
  .flex-res-imp-why{
    gap: 15px;
  }
  .why-imp{
    padding: 60px 0;
  }
  .flex-why-des-txt{
    padding: 30px 10px 0;
  }
  .img-r-imp{
    padding: 0 10px;
  }
}
