.dtle-blg-top-sec {
  /* height: 337px; */
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 10px;
  padding:100px 0 50px;
}
.font-family{
  font-family: Jost-Regular;
  padding-bottom: 100px;
}
.dtle-blg-date-author {
  margin-top: 15px;
  display: flex;
  /* width: 280px; */
  gap: 15px;
}
.dtle-blg-bg-fl {
  background: white;
  width: 148px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 6px;
}
.dtle-blg-bg-fl p {
  font-family: Jost-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #ff9800;
}
.dtl-blg-date {
  font-family: Jost-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #97989f;
  white-space: nowrap;
}
.dtle-blg-text p {
  font-family: Jost-Bold;
  font-size: 50px;
  font-weight: 700;
  line-height: 72.25px;
  text-align: left;
  max-width: 764px;
  min-width: 200px;
  width: 100%;
  /* padding-top: 100px; */
}
.dtle-blg-img-cont {
  /* padding: 37px 0; */
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  width: 502px;
  height: 337px;

}

.dtl-flex-col{
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-bottom: 100px;
}
.dtl-heading-blog{
  font-family: Jost-SemiBold;
font-size: 25px;
font-weight: 600;
line-height: 36.13px;
text-align: left;
color: #060606;
}
.dtl-pera-blog{
font-family: Jost-Regular;
font-size: 20px;
font-weight: 400;
line-height: 28.9px;
text-align: left;
color: #00000080;
}
.checklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0 0 0;
  /* background-color: #f9f9f9; */
  border-radius: 8px;
}

.checklist-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
}

.check-symbol {
  color: #28a745;
  font-weight: bold;
  background: white;
  margin-right: 8px;
  font-size: 14px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 9.36px 7.36px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

}
.dtl-check-span{
  font-family: Jost-Regular;
font-size: 20px;
font-weight: 400;
line-height: 28.9px;
text-align: left;
color: #00000080;
}
.blg-small-heading{
  font-family: Jost;
font-size: 22px;
font-weight: 500;
line-height: 31.79px;
text-align: left;
font-family: Jost-Medium;
color: #060606;
}

.img-width-blog{
  max-width: 502px;
  min-width: 200px;
  width: 100%;
  height: 337px;
  border-radius: 20px;
  /* box-shadow: 0px 0px 4px 0px #0000001A; */

}

@media(max-width:1024px){
  .dtle-blg-top-sec{
    flex-direction: column;
    height: unset;
    align-items: flex-start;
  }
  .dtle-blg-img-cont{
    width: 100%;
  }
  .dtle-blg-text p{
    font-size: 40px;
    line-height: 57.8px;
  }
  .dtle-blg-date-author{
    margin-bottom: 30px;
  }

}

@media(max-width:768px){

.font-family{
  padding-bottom: 60px;
}
.dtle-blg-top-sec{
  padding-bottom: 40px;
}
.dtle-blg-top-sec{
  padding: 60px 0 40px;
}
.dtle-blg-text p {
  font-size: 25px;
  line-height: 36.13px;
}
}