.work-main-container-100 {
  width: 100%;
  background: rgba(245, 245, 245, 1);
}
.gried-work-1320 {
  max-width: 1320px;
  min-width: 200px;
  width: 100%;

  margin: 0 auto;
}
.divs-img {
  max-width: 154px;
  min-width: 50px;
  width: 100%;
  margin: 0 auto;
}
.div-imgss {
  max-width: 137px;
  min-width: 50px;
  width: 100%;
  margin: 0 auto;
  padding: 18px 0;
}
.padding-container-work {
  padding: 100px 30px 0 30px;
}
.work-box {
  max-width: 240px;
  /* height: 222px; */
  min-width: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-boxs {
  max-width: 240px;

  min-width: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}
.div-img {
  padding: 11px 0;
}
.real-work-p {
  text-align: center;
  padding: 9px 0;
  font-size: 20px;
  line-height: 28.9px;
  color: black;
  font-family: Jost-SemiBold;
}
.real-work-p-m {
  text-align: center;
  padding: 9px 0;
  font-size: 20px;
  line-height: 28.9px;
  color: rgba(0, 0, 0, 0.5);

  font-family: Jost-SemiBold;
}
.div-img {
  max-width: 212px;
  min-width: 50px;
  width: 100%;
  margin: 0 auto;
}
.divs-img {
  max-width: 150px;
  min-width: 50px;
  width: 100%;
  margin: 0 auto;
  padding: 14px 0;
}
.work-p {
  font-size: 35px;
  line-height: 50.58px;
  font-family: Jost-Bold;
  color: #808080;
}
.work-gried {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 29px;
  justify-items: center;
}
.hr-line {
  margin: 50px 0;
}
.gajanan-b-gried {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  max-width: 1320px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  gap: 15px;
}
.bg-name {
  background-color: white;
  font-size: 25px;
  line-height: 36.13px;
  font-family: Jost-SemiBold;
  color: rgba(0, 0, 0, 0.5); /* Default text color */
  text-align: center;
  padding: 31px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: color 0.3s ease-in-out;
}
.section-b-work {
  
  padding:  0 30px 100px;
}
.work-c-flex {
  display: flex;
  flex-direction: column;
}
.gried-box1 {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.work-div-img{
  max-width: 212px;
  min-width: 50px;
  width: 100%;
  margin: 0 auto;
}
.gried-box1 img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
  position: relative;
}

.gried-box1:hover img {
  transform: scale(1.1); /* Increase image size on hover */
}
.gried-box1:hover .bg-name {
  color: black; 
}
@media screen and (max-width:1024px){
  .work-wrapper {
    width: 100%;
    overflow-x: auto; /* Scroll enable karega */
    white-space: nowrap;
  }
  .section-b-work {
    padding: 0 25px 100px;
}
  .work-gried {
    display: flex;
    gap: 29px;
    min-width: 2600px; /* Fixed width taaki horizontal scroll aaye */
  }
  .gajanan-b-gried{
    grid-template-columns: repeat(2, 1fr);
  }
  .padding-container-work {
    padding: 100px 25px 0 25px;
}
  
}

@media screen  and (max-width:768px){
  .gajanan-b-gried{
    grid-template-columns: repeat(1, 1fr);
  }
  .padding-container-work {
    padding: 100px 10px 0 10px;
}
  .about-left {
    margin: unset;
    margin-right: 15px;
}
.section-b-work {
  padding: 0 10px 100px;
}
}