.strategy {
  width: 100%;
  background-color: #060606;
}
.our-strategy-container {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side-v-s-c {
  padding: 100px 0;
  max-width: 353px;
  min-width: 200px;
  width: 100%;
}
.your-our-strategy {
  font-family: Jost-Bold;
  font-size: 50px;
  line-height: 72.25px;
  color: white;
  white-space: nowrap;
}
.stroke-txt-strategy {
  font-family: Jost-Bold;
  font-size: 50px;
  line-height: 60.25px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-family: 'Futura', 'Futura PT', 'Arial', sans-serif;
  font-weight: 700;
}
.v-s-desc {
  font-family: Jost-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  padding: 30px 0 60px;
}
.hr-animation {
  position: relative;
  width: 1px;
  height: 564px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  /* margin: 0 116px 0 124px; */
  overflow: hidden;
}

.hr-animation::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 96px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.8)
  ); 
  animation: lineMoveStrategy 9s linear infinite;
}

@keyframes lineMoveStrategy {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(500%);
  }
}

.right-desc {
  font-family: Jost-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  color: white;
  max-width: 727px;
  min-width: 200px;
  width: 100%;
}

@media (max-width: 1024px) {
  .your-our-strategy {
    font-family: Jost-Bold;
    font-size: 40px;
    line-height: 57.8px;
  
}
.stroke-txt-strategy{
  font-size: 40px;
  line-height: 57.8px;
}
  .our-strategy-container {
    flex-direction: column;
    align-items: flex-start;
    padding: unset;
  }
  .left-side-v-s-c {
    padding: 80px 25px 44px;
    max-width: unset;
    width: 100%;
  }
  .hr-animation {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    margin: unset;
    overflow: hidden;
  }

  .hr-animation::after {
    content: "";
    position: absolute;
    top: 0;
    width: 96px;
    height: 1px;
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0)
    );
    animation: lineMoveE 9s linear infinite;
  }
  @keyframes lineMoveE {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(700%);
    }
  }
  .right-desc {
    padding: 44px 25px 80px;
    max-width: unset;
  }
}


@media(max-width:768px){
  .left-side-v-s-c {
    padding: 50px 10px 44px;
  }
  .right-desc {
    padding: 44px 10px 50px;
    max-width: unset;
    font-size: 16px;
    line-height: 23.12px;
}

}