.strategy {
  width: 100%;
  background-color: #060606;
}
.our-strategy-container {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side-v-s-c {
  padding: 100px 0;
  max-width: 353px;
  min-width: 200px;
  width: 100%;
}
.your-our-strategy {
  font-family: Jost-Bold;
  font-size: 50px;
  line-height: 72.25px;
  color: white;
  white-space: nowrap;
}
.stroke-txt-strategy {
  font-family: Jost-Bold;
  font-size: 50px;
  line-height: 60.25px;
  color: transparent; /* Make the text itself invisible */
  -webkit-text-stroke: 1px white; /* Outline color and width */
}
.v-s-desc {
  font-family: Jost-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  padding: 30px 0 60px;
}
.hr-animation {
  position: relative; /* Make it a positioning context for the pseudo-element */
  width: 1px;
  height: 564px; /* The height of the original hr line */
  background-color: rgba(255, 255, 255, 0.2); /* Set the color of the hr line */
  border: none;
  margin: 0 116px 0 124px;
  overflow: hidden; /* Ensure the pseudo-element stays within bounds */
}

.hr-animation::after {
  content: ""; /* Creating an empty content for the pseudo-element */
  position: absolute;
  left: 0; /* Align the white line at the top of the hr element */
  top: 0; /* Start at the top */
  width: 1px; /* Width of the moving line */
  height: 96px; /* Match the height of the hr */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0),   rgba(255, 255, 255, 0.8)); /* Vertical gradient */
  animation: lineMove 9s linear infinite; /* Continuous animation */
}

@keyframes lineMove {
  0% {
    transform: translateY(-100%); /* Start off-screen above */
  }
  100% {
    transform: translateY(500%); /* Move to the bottom */
  }
}


.right-desc {
  font-family: Jost-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  color: white;
  max-width: 727px;
  min-width: 200px;
  width: 100%;
}
