.your-challanges {
  width: 100%;
  background-color: #060606;
  /* height: 100vh; */
}
.your-challenge-container {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-side-your-challange {
  padding: 100px 0;
  max-width: 392px;
  min-width: 200px;
  width: 100%;
}
.hr-animation-chalange {
  position: relative;
  width: 1px;
  height: 741px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  margin: 0 24px 0 26px;
  overflow: hidden;
}

.hr-animation-chalange::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 96px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.8)
  );
  animation: lineMoveChallanges 9s linear infinite;
}
@keyframes lineMoveChallanges {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(700%);
  }
}

.right-side-your-challange {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  max-width: 878px;
  min-width: 200px;
  width: 100%;
}
.arrows-chal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.arrows-chal button {
  font-size: 24px;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  margin: 0 16px;
}
.box-scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  max-width: 840px;
  min-width: 200px;
  width: 100%;
  /* height: 580px; */
  overflow: hidden;
}

.box-of-one {
  /* height: 160px; */
  padding: 33px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  width: 100%;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 0.5s forwards;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;


}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.box-num-flex {
  display: flex;
  align-items: unset;
  flex-direction: column;
  /* justify-content: space-between; */
  /* gap: 10px; */
  width: 100%;
}
.stroke-txt-strategy-01 {
  font-family: Jost-SemiBold;
  font-size: 35px;
  line-height: 50.58px;
  color: rgba(255, 255, 255, 0.5);
  /* -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5); */
}
.title-branding-box {
  font-family: Jost-SemiBold;
  font-size: 30px;
  line-height: 43.35px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
.text-gray-400-p{
  color: rgba(255, 255, 255, 0.5);
}
.text-gray-400{
  color: rgba(255, 255, 255, 0.5);
}
.text-white{
  color: white;
}
.text-white-no{
  color: white;
  /* -webkit-text-stroke: 0.7px white !important; */
}
.desc-arr-container-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 439px;
  min-width: 200px;
  width: 100%;
  gap: 24px;
}
.desc-box {
  font-family: Jost-Regular;
  font-size: 20px;
  line-height: 28.9px;
  text-align: left;
  /* color: rgba(255, 255, 255, 0.5); */
  max-width: 336px;
}
.arrow-box {
  width: 42px !important;
  height: 42px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-box img {
  font-size: 24px;
  background: none;
  /* color: rgba(255, 255, 255, 0.5); */
  border: none;
  cursor: pointer;
  transition: transform 1s;
  /* position: relative;
  top: 1px; */
}
.arrow-box-r {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.arrow-box-r button {
  font-size: 24px;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  transition: transform 1s;
  position: relative;
  top: -1px;
}
.box-of-one {
  transition: opacity 1s, transform 1s;
}

.box-of-one.transitioning {
  opacity: 0;
  transform: translateY(20px);
}

@media (max-width: 1024px) {
  .your-challenge-container {
    flex-direction: column;
    align-items: flex-start;
    padding: unset;
  }
  .hr-animation-chalange {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    margin: unset;
    overflow: hidden;
  }
  .hr-animation-chalange::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 96px;
    height: 1px;
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0)
    );
    animation: lineMoveC 9s linear infinite;
  }
  @keyframes lineMoveC {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(700%);
    }
  }
  .left-side-your-challange {
    padding: 80px 25px 46px;
    max-width: unset;
    min-width: 200px;
    width: 100%;
  }
  .right-side-your-challange {
    max-width: unset;
    min-width: 200px;
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-bottom: 80px;
  }
  .box-scroll-container {
    /* padding: 0 25px; */
    max-width: unset;
    gap: 24px;
    height: unset;
    padding: 44px 25px 0;
  }
  .arrows-chal {
    flex-direction: row;
    padding: 0 25px;
    gap: 40px;
    display: none;
  }
  .arrows-chal button {
    font-size: 24px;
    background: none;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    margin: unset;
  }
  .hidee-sss{
    display: none;
  }
  .your-challanges{
    height: unset;
  }
  .box-num-flex{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .v-s-desc-chall {
    font-family: Jost-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.9px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    padding: 30px 0 0;
}
  
}

@media (max-width: 768px) {
  .left-side-your-challange {
    padding: 50px 10px 46px;
  }
  .v-s-desc {
    font-family: Jost-Regular;
    font-size: 16px;
    line-height: 23.12px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    padding: 25px 0 50px;
  }
  .box-scroll-container {
    padding: 44px 10px 30px;
    gap: 20px;
  }
  .right-side-your-challange {
    padding-bottom: 50px;
  }
  .your-our-strategy {
    font-family: Jost-Bold;
    font-size: 25px;
    line-height: 36.13px;
  }
  .stroke-txt-strategy {
    font-size: 25px;
    line-height: 36.13px;
    /* -webkit-text-stroke: 0.5px white; */
  }
  .title-branding-box {
    font-size: 20px;
    line-height: 28.9px;
  }
  .stroke-txt-strategy-01 {
    /* color: black; */
    font-size: 24px;
    line-height: 34.68px;
    padding-bottom: 10px;
    /* -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.5); */
  }
  .desc-box {
    font-size: 16px;
    line-height: 23.12px;
    padding-top: 20px;
  }
  .box-of-one{
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .arrow-box{
    display: none;
  }
  .arrow-box-r{
    display: flex;
  }
  .arrows-chal {
    padding: 0 10px;
}
.desc-box{
  max-width: 285px;
}
}



.box-of-one.active {
  opacity: 1;
  color: white;
}