/* 400 */
@font-face {
  font-family: Jost-Regular;
  src: url("./assets/font-family/Jost-Regular.ttf");
}
/* 500 */
@font-face {
  font-family: Jost-Medium;
  src: url("./assets/font-family/Jost-Medium.ttf");
}
 /* 600 */
@font-face {
  font-family: Jost-SemiBold;
  src: url("./assets/font-family/Jost-SemiBold.ttf");
}
 /* 700 */
@font-face {
  font-family: Jost-Bold;
  src: url("./assets/font-family/Jost-Bold.ttf");
}
 /* 800 */
 @font-face {
  font-family: Jost-ExtraBold;
  src: url("./assets/font-family/Jost-ExtraBold.ttf");
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app-container{
  /* max-width: 1920px;
  min-width: 200px; */
  width: 100%;
  border: 1px solid black;
  height: 400px;
  margin: 0 auto;
}