/* 
.navbar {
   
    width: 100%;
    margin: 0 auto;
    background-color: #060606;
    position: sticky; 
    top: 0; 
    left: 0;
    z-index: 1000; 
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar-container {
    max-width: 1380px;
    min-width: 200px;
    width: 100%;
    margin: 0 auto;
    padding: 22px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #060606;
  }
  .logo-c {
    display: flex;
  }
  .h-icon-c {
    cursor: pointer;
  }
  .menu-navbar {

  }
  
  .menu-navbar.open {
    transform: translateY(0);
  }
  
  .menu-navbar.close {
    transform: translateY(-100%);
  }
  
  .close-btn-navbar {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: 100px;
  }
  
  .menu-navbar ul {
    list-style: none;
    margin: 0;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  .margin-b-30 {
    margin-bottom: 30px;
  }
  
  .nav-link {
    text-decoration: none;
    font-family: Jost-SemiBold;
    font-size: 40px;
    line-height: 57.8px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    position: relative; 
    display: inline-block;
    padding-left: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .nav-link:hover {
    color: white;
  }
  
  .active-nav-link {
    color: #ff9800;
  }
  .active-nav-link:hover {
    color: #ff9800;
  }
  
  .nav-link:hover {
    transform: translateX(30px); 
    color: white; 
  }
  
  .nav-link::before {
    content: ""; 
    position: absolute;
    left: 0; 
    top: 50%; 
    transform: translateY(-50%) scale(0); 
    width: 12px;
    height: 12px;
    background-color: white; 
    border-radius: 50%; 
    transition: transform 0.3s ease; 
  }
  .active-nav-link:hover {
    transform: translateX(30px); 
    color: #ff9800; 
  }
  .active-nav-link::before {
    content: ""; 
    position: absolute;
    left: 0; 
    top: 50%; 
    transform: translateY(-50%) scale(0); 
    width: 12px; 
    height: 12px;
    background-color: #ff9800;
    border-radius: 50%; 
    transition: transform 0.3s ease; 
  }
  .nav-link:hover::before {
    transform: translateY(-50%) scale(1); 
  }
  
  .arrow {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    bottom: 5px;
    right: 5px;
  }
  
 
  .dropdown-container:hover .arrow {
    transform: rotate(-45deg); 
  }
  
 
  .dropdown-container {
    position: relative; 
  }
  
  .dropdown {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  .dropdown li {
    padding: 5px 0;
    cursor: pointer;
  }
  
  .dropdown-container:hover .dropdown {
    display: flex;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    height: 100vh;
  }
  .flex.open {
    transform: translateY(0);
  }
  
  .flex.close {
    transform: translateY(-100%);
  }
  ul {
    max-width: 372px;
    min-width: 100px;
    width: 100%;
  }
   */